 button, body, h3, h1, img {
    cursor: none;
}

.cursor-outline {
    width: 8px;
    height: 70px;
    
}

.cursor-outline {
    position: fixed;
    top: 22px;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 99;
    pointer-events: none;
}