@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp';
    letter-spacing: 2px;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    background-color: #0d0d0d;
    width: 100%;
    height: 100vh;
}

#screen {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    height: 640px;
    width: 1200px;
    background-image: url('../images/background.png');
    background-size: cover;
    justify-content: space-between;
}

.top-details {
    color: #ccc;
    padding: 1rem;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* info centro da tela */

#information-suspect {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    color: #fff;
    background-color: #0d0d0d75;
    padding: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
}

.suspect-details li {
    list-style-type: none;
    margin: .5rem;
}

.info {
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-top: 2rem;
    font-size: 14px;
}

.info p {
    padding-top: 2rem;
    width: 90%;
}

#questions {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    
}

button {
    font-size: 16px;
    border: 1px solid #ccc;
    background-image: url('../images/paper-book.avif');
    background-position: 50%;
    padding: 1rem;
    cursor: pointer;
    color: #0d0d0d;
    transition: all .2s;
}

button:hover{
    /* transform: translateY(-4px); */
    transform: scale(1.05, 1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* barra final com opções */

#bot-bar {
    display: flex;
    flex-direction: row;
    background-image: url('../images/table.png');
    background-size: cover;
    box-shadow: inset 22px 22px 22px 22px rgba(190, 6, 6, 0.288);
    border-top: 2px solid black;
    height: 4rem;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

#bot-bar i {
    color: #ccc;
    cursor: pointer;
    transition: .5s ease;
}

#bot-bar i:hover{
    color: #fff;
}

/* MISSÃO PRINCIPAL */

#main-mission {
    position: absolute;
    display: flex;
    background-image: url('../images/paper-2.jpg');
    background-size: cover;
    height: 640px;
    width: 1196px;
}

.mission-title {
    display: flex;
    align-items: center;
}

.mission-content {
    align-items: flex-start;
    flex-direction: row;
    padding: 2.5rem;   
}

.mission-content p {
    width: 70%;
    padding: 2rem 0 0 2rem;
}

.mission-content img {
    opacity: 95%;
    width: 90px;
    height: 90px;
}

.close-mission {
    position: absolute;
    left: 90%;
    bottom: 84%;
    cursor: pointer;
    transition: .2s ease;
}

.close-mission:hover {
    transform: scale(1.1, 1.1) ;
}

.francesco-img {
    width: 280px;
    height: 280px;
    position: absolute;
    opacity: 90%;
    right: 0rem;
    top: 18rem;
}

.hypothesis-div {
    border: 1px dotted black;
    padding: 1.4rem;
    position: absolute;
    right: 16rem;
    top: 8rem;
    line-height: 1.5rem;
}


/* book */

#book {
    position: absolute;
    display: none;
    background-image: url('../images/paper-book.avif');
    background-size: cover;
    height: 60%;
    width: 30%;
    border-right: 12px solid #523211;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.book-title {
    margin-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.book-indice img {
    width: 120px;
    padding-bottom: 2rem;
    position: absolute;
    bottom: 14rem;
    left: 22rem;
}

.book-indice {
    list-style-type: none;
    padding: 3rem;
}

.book-indice h3{
    margin-bottom: 1rem;
}

.book-indice li {
    list-style-type: none;
    margin: 1rem;
    cursor: pointer;
    transition: .2s ease;
}

.book-indice li:hover {
    color: red;
}

.book-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-text img {
    width: 80px;
    padding-top: 1rem;
}

.book-text h3 {
    padding-top: 2.5rem;
    text-align: center;
}

.book-text h4 {
    padding-top: 2.5rem;
    text-align: center;
}

.punishment {
    color: red;
    font-style: italic;
    text-decoration: underline black;
    padding: .2rem;
    cursor: pointer;
}

.book-text p{
    padding: 2rem 2.5rem 0 2.5rem;
    gap: 12px;
    color: #0d0d0d;
}

#book::-webkit-scrollbar {
    width: 12px;             
  }
  
#book::-webkit-scrollbar-track {
    background: bisque;   
  }
  
#book::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 0, 0.705);    
    border-radius: 4px;       
  }

 /* DIÁRIO DE MISSÃO */ 

 #register-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/paper-relatory.png');
    background-size: cover;
    background-position: 10%;
    height: 60%;
    width: 30%;
    position: absolute;
    right: 22.6rem;
    overflow: auto;
}

.register-content {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    width: 70%;
}

.register-content img {
    align-self: center;
    padding-bottom: 4rem;
    opacity: 90%;
}

#register-window::-webkit-scrollbar {
    width: 12px;          
  }
  
#register-window::-webkit-scrollbar-track {
    background: bisque;   
  }
  
#register-window::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 0, 0.705);    
    border-radius: 4px;       
  }


/* documento do acusado */

.suspect-document {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/paper-doc.png');
    background-size: cover;
    height: 60%;
    width: 30%;
    position: absolute;
}

.document-text {
    padding: 5rem;
    width: 80%;
}

.document-text p{
    padding-top: 2rem;
}

/* ----- ACUSAÇÃO ------ */

.acusation-document {
    display: none;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/paper-2.jpg');
    background-size: cover;
    height: 60%;
    width: 30%;
    position: absolute;
}

.acusation-text {
    padding: 5rem;
    width: 80%;
}

.acusation-text p{
    padding-top: 2rem;
}

/* -------- DEFESA --------- */

.defense-document {
    display: none;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/paper-2.jpg');
    background-size: cover;
    height: 60%;
    width: 30%;
    position: absolute;
}

.defense-text {
    padding: 5rem;
    width: 80%;
}

.defense-text p{
    padding-top: 2rem;
}

.picture-character,
.acusator-character {
    object-fit: cover;
    width: 400px;
    position: absolute;
    top: 12rem;
    left: 49.7rem;
    animation: fade-in-right .5s ease-in-out;
}

@-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

/* choice window */

#choice-window {
    color: #ccc;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.book-button img {
    width: 100px;
    transform: rotate(-10deg);
    transition: .5s ease;
    cursor: pointer;
}

.images-book {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.book-button img:hover {
    transform: rotate(-5deg);
    transform: translateY(-15px);
}

.choice-button img {
    width: 140px;
    transition: .5s ease;    
    cursor: pointer;
}

.choice-button img:hover {
    transform: translateY(-15px);
}

.register-button img{
    width: 160px;
    transition: .5s ease;    
    cursor: pointer;
}

.register-button img:hover {
    transform: translateY(-15px);
}

.music-button img{
    width: 100px;
    transition: .5s ease;
    cursor: pointer;
}

.music-button img:hover{
    transform: translateY(-15px);
}

.pena-btn {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
}

.pena-btn button {
    padding: 1rem;
    border: none;
    background-color: bisque;
    cursor: pointer;
}
